body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* App.css */
body, .App {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links {
  display: flex; /* Align links side-by-side */
  gap: 1rem; /* Add spacing between links */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline; /* Ensure list items are inline */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack links vertically on smaller screens */
  }
}
